---

---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Amazon Alternatives</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Make this a separate include. -->
    <meta name="description" content="Online shopping alternatives to Amazon.">
    <meta property="og:title" content="Amazon Alternatives" />
    <meta property="og:description" content="Online shopping alternatives to Amazon.">
    <meta property="og:url" content="https://www.amazonalternatives.org" />
    <!-- <meta property="og:image" content="" /> -->
    <!-- <script>
        const time = new Date().toLocaleString('en-US', {
            timeZone: 'America/New_York'
        });
        const platform = navigator.platform;
        const referrer = document.referrer;
        const language = navigator.language;
        const browser = navigator.userAgent;
        const data = {
            time: time,
            platform: platform,
            language: language,
            browser: browser,
            referrer: referrer
        }
        const logVisitor = async () => {
            const response = await fetch('https://api.uplift.app/test/log', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
        }
        window.onload = logVisitor;
    </script> -->
</head>

<body>
    <div class="alternatives">
        <div class="alternative">
            <p class="headline" style="background-color: unset;">Alternatives to Amazon</p>
            <!-- Rework this to not rely on line breaks. -->
            <p style="min-width: 70vw;">Alternative online shopping venues with an eye towards environmental
                responsibility and worker
                treatment.
                <br></br>I've vetted all of these, and all have smooth online shopping
                experiences, prompt
                shipping, and excellent customer service.
                <br></br>I don't receive any commisions on these; they're not affiliate links. This is just a personal
                project.
            </p>
        </div>

        <div class="divider">Electronics</div>

        {% alternative "Crutchfield", "https://www.crutchfield.com/", "Crutchfield is a specialist in audio equipment. While they're famous for their audio systems for vehicles, they also have a great selection of quality headphones, portable speakers, and the like, with expert reviews and even staff available online to help you choose. They're known for excellent customer service; and they make their own biodegradable packing peanuts." %}

        <div class="divider">Books</div>
        {% alternative "Bookshop.org", "https://bookshop.org", "Bookshop.org is an online bookseller dedicated to supporting brick-and-mortar independent bookstores; over 75% of their profits go to bookstores, authors, etc. They have a wonderful site that's a pleasure to use, and real, nice people on customer service. As Goodreads is actually owned by Amazon, this is an exciting, new alternative." %}

        {% alternative "Libro.fm", "https://libro.fm/switch", "Libro.fm is an audiobook service (Amazon owns Audible, if you didn't know) that is, much like Bookshop.org, dedicated to supporting brick-and-mortar independent bookstores. You choose a local bookstore, and Libro.fm splits their profits with it. They have an incredible selection (pretty much everything but Amazon Originals), and customer service with real people." %}

        <div class="divider">Music</div>
        {% alternative "Bandcamp", "https://bandcamp.com", "Bandcamp is an alternative to streaming services like Amazon, Spotify, and iTunes, which pay artists a miniscule amount per-play. On Bandcamp you actually purchase music, which you can then stream from anywhere, or just download and play wherever. Bandcamp takes a simple 15%, and the artist/label get the rest (minus a couple percent in credit-card fees). Many of the biggest artists aren't on here yet, but it's a great way to directly support small-to-medium artists. And during Covid, Bandcamp is waiving their revenue on the first Friday of every month."%}

        <div class="divider">Food</div>
        {% alternative "Nuts.com", "https://nuts.com", "If it's edible and can be ordered in bulk, Nuts.com probably has it. High-quality nuts, grains, candy, and more, with fast shipping, a great website, and packaging that will make you giggle. Their website has a really nice quick-reorder feature that makes making an account worthwile." %}

        <div class="divider">Kitchen</div>
        {% alternative "Everything Kitchens", "https://www.everythingkitchens.com", "A large selection of quality kitchen stuff. Fast shipping."%}

        <div class="divider">Clothing/Gear</div>
        {% alternative "Garage Grown Gear", "https://www.garagegrowngear.com", "Garage Grown Gear has hiking and outdoor gear of all types, and is focussed on sourcing their products from small, cottage, and startup companies. A unique collection of high-quality stuff, with a nice website."%}

        <div class="divider">Office Supplies</div>
        {% alternative "1Ink", "https://nuts.com", "In business 20 years. Great prices, with lots of refurbished cartridges (much cheaper). Great tool to find the right cartridge for your printer. 15% off your first order if you sign up for their mailing list." %}

        <div class="divider">Tech</div>
        {% alternative "Ecosia", "https://www.ecosia.org", "This is more an alternative to Google, but close enough. Ecosia is a search engine which donates 80% of its profits to reforestation efforts. The search results come from Bing, and are pretty much the same as what you'd get from Google (and you can still use Google Maps and such for searches with directions, etc.), but you're supporting a much better cause. They're a certified B corp, and are launching a debit card soon, which will also use its profits to plant trees." %}


        <p class="footer">Site made with <a href="https://www.11ty.dev">Eleventy</a>, hosted on the awesome <a
                href="https://porkbun.com">Porkbun</a> and designed to be environmentally
            low-impact.</p>
        <!-- Make the environmentally low-impact bit link to an article on that.-->

    </div>
</body>

</html>