$primaryColor: black;
$secondaryColor: white;
$backgroundColor: #0ea76e;

.secondaryColor {
	color: $secondaryColor;
}

$primaryTransparent: #000000e6;
$primaryTransparenter: #000000a8;

/*find overlap, use for splash, splash p*/
@mixin textBox() {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $primaryColor;
	// background-color: $backgroundColor;
	padding-left: 5vw;
	padding-right: 5vw;
	p {
		margin-block-start: 0.7em;
		margin-block-end: 0.7em;
		background-color: $secondaryColor;
		border-radius: 20px;
		padding: 0.7em;
	}
}

body {
	margin: 0;
	font-family: sans-serif;
	background-color: $backgroundColor;
	// font-size: 1em;
	// @media (max-width: 768px) {
	// 	font-size: 4em;
	// }
}

i {
	font-style: normal;
}
.splash {
	@include textBox();
	height: 100vh;
	text-align: center;

	p {
		padding: 0.7em 0.2em;
		// font-size: 2.5em;
	}

	p:first-child {
		margin-top: 20vh;
	}

	i {
		margin-top: auto;
		transform: scale(2);
		margin-bottom: 5vh;
	}
}

.headline {
	color: white;
	// font-size: 4em;
	margin-bottom: 0;
	text-align: center;
	font-size: 2.5em;
	margin-top: 30vw;
}

.alternatives {
	margin-top: 10vh;
}

.alternative {
	@include textBox();
	p {
		display: flex;
		flex-direction: column;
		min-width: 87vw;
	}
}

.alternativeLink {
	// font-size: 1.2em;
	margin-bottom: 0.5em;
}

.introText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $primaryColor;
	// background-color: $backgroundColor;
	padding-left: 5vw;
	padding-right: 5vw;
	// p {
	margin-block-start: 0.7em;
	margin-block-end: 0.7em;
	background-color: $secondaryColor;
	border-radius: 20px;
	padding: 0.7em;
	display: flex;
	flex-direction: column;
	// min-width: 880px;
	// }
}

.divider {
	color: $primaryTransparent;
	padding-top: 2vh;
	border-bottom: solid 2px $primaryTransparenter;
	font-size: larger;
	margin-bottom: 2vh;
}

.footer {
	font-style: italic;
	font-size: 1em;
	color: $secondaryColor;
	background-color: $backgroundColor;
	margin: 1vw;
	padding: 0.2em;
}
